<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/00cfa0c2fb.js"></script>
</head>

<body>

</body>
<nav class="navbar navbar-dark bg-dark">
    <div class="d-flex flex-row align-items-center">
        <a href="/" class="navbar-brand mr-1">Tuks-Drive</a>
        <div class="d-flex flex-row">
            {% if directory != ''%}
            {% for link, destination in links_destinations %}
            &nbsp;
            <div class="text-white">/</div>
            &nbsp;
            <a class="text-white" href="/{{destination}}">{{link}}</a>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="navbar-nav">
        {% if request.user.is_authenticated %}
        <a class="btn btn-sm btn-outline-light" href="/Account/Logout/">
            Currently logged in as {{ request.user }}, log out?
        </a>
        {% else %}
        <a href="/Account/Login/" class="btn btn-sm btn-outline-light">Log In</a>
        {% endif %}
    </div>
</nav>
<div class="container">
    <div class="row">
        <h3 class="display-4 text-muted">
            Users
        </h3>

    </div>
    {% for user in users %}
    <div class="row border mb-1 p-1 pl-2 rounded d-flex justify-content-between">
        <h5 class="text-muted">
            {{user}}
        </h5>
        <div>
                <a href="/Admin/UserConfig/{{user}}/" class="badge badge-primary">Manage</a>
        </div>
    </div>
    {% endfor %}
    <div class="row d-flex align-items-center">
        <h3 class="display-4 text-muted">
            Groups
        </h3>
        <div>
            <a href="/Admin/AddGroup/" class="btn btn-sm btn-outline-secondary ml-2">Add</a>
        </div>
    </div>
    {% for group in groups %}
    <div class="row border mb-1 p-1 pl-2 rounded d-flex justify-content-between">
        <h5 class="text-muted">
            {{group}}
        </h5>
        <div>
            <a href="/Admin/GroupConfig/{{group}}/" class="badge badge-primary">Manage</a>
        </div>
    </div>
    {% endfor %}
</div>

</html>