<!DOCTYPE html>
<html class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body class="h-100">
    <div class="d-flex align-items-center justify-content-center h-100 w-100">
        <div class="card w-50">
            <div class="card-header bg-dark text-white text-center">
                <h3>
                    Group Configuration: {{group}}
                </h3>
            </div>
            <div class="card-body bg-secondary">
                <h5 class="text-white">
                    Users in group
                </h5>
                <div class="ml-5 mb-3">
                    {% for user in users %}
                    <div class="row">
                        <div class="text-white col-3">
                            {{user}}
                        </div>
                        <form method="POST">
                            {% csrf_token %}                            
                            <div class="col">
                                <button class="badge badge-danger" type="submit" name="user_to_remove" value="{{user}}">Remove</button>
                            </div>
                        </form>
                    </div>
                    {% endfor %}
                </div>
                <div>
                    <h5 class="text-white">Add User</h5>
                    <form method="post">
                            {% csrf_token %}                            
                            <div class="d-flex flex-row">
                                <select name="add_user" class="custom-select">
                                        {% for user in all_users %}
                                            <option value="{{user}}">{{user}}</option>
                                        {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-sm btn-outline-light ml-3">Add</button>
                        </div>
                    </form>
                </div>
                <a href="/Admin/" class="btn btn-outline-light mt-3">Back</a>

            </div>
        </div>
    </div>
</body>

</html>