<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/00cfa0c2fb.js"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="d-flex flex-row align-items-center">
            <a href="/" class="navbar-brand mr-1">Tuks-Drive</a>
        </div>
        <div class="navbar-nav">
            <div class="d-flex flex-row">
                {% if request.user.is_authenticated %}
                {% if admin %}
                <a class="btn btn-sm btn-outline-light mr-2" href="/Admin/">
                    Admin Page
                </a>
                {% endif %}
                <a class="btn btn-sm btn-outline-light" href="/Account/Logout/">
                    Currently logged in as {{ request.user }}, log out?
                </a>
                {% else %}
                <a href="/Account/Login/" class="btn btn-sm btn-outline-light">Log In</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container pt-3 mb-3">
        {% if request.user.is_authenticated %}
        <div class="row align-items-center mb-3">
            {% if directory == '' %}
            <a class="btn btn-outline-secondary btn-sm mr-1" href="Upload/">Upload File</a>
            <a class="btn btn-outline-secondary btn-sm" href="Create_Folder/">Create Folder</a>
            {% else %}
            <a class="btn btn-outline-secondary btn-sm mr-1" href="/{{back}}">Back</a>
            <a class="btn btn-outline-secondary btn-sm mr-1" href="/{{directory}}/Upload/">Upload</a>
            <a class="btn btn-outline-secondary btn-sm" href="/{{directory}}/Create_Folder/">Create Folder</a>
            {% endif %}
        </div>
        {% if directory == '' %}
        <div class="row">
            <div
                class="w-100 mb-3 d-flex flex-row shadow border-primary align-items-center p-3 border rounded">
                <i class="fas fa-share-alt text-primary mr-2 ml-2"></i>
                </i>
                <div class="w-100 d-flex flex-row justify-content-between align-items-center">
                    <h6 class="text-primary m-0">
                        Shared with Me
                    </h6>
                    <div>
                        <a class="badge badge-primary" href="/Shared/">Open</a>
                        <a class="badge badge-success" href="/Manage_Sharing/">Manage My Sharing</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div
                class="w-100 mb-3 d-flex flex-row shadow align-items-center p-3 border border-danger rounded">
                <i class="fas fa-trash text-danger mr-2 ml-2"></i>
                </i>
                <div class="w-100 d-flex flex-row justify-content-between align-items-center">
                    <h6 class="text-danger m-0">
                        Trash
                    </h6>
                    <a class="badge badge-danger" href="/Trash/">Open</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% for folder, empty in folders %}
        <div class="row">
            <div class="w-100 mb-3 d-flex flex-row shadow align-items-center p-3 border border-secondary rounded">
                <i class="fas fa-folder mr-2 ml-2 text-muted"></i>
                <div class="w-100 d-flex flex-row justify-content-between align-items-center">
                    <h6 class="m-0 text-muted">
                        {{ folder }}
                    </h6>
                    <div>
                        {% if directory == '' %}
                        <a class="badge badge-primary" href="{{folder}}">Open</a>
                        <a class="badge badge-success" href="{{folder}}/Share">Share Folder</a>
                        {% if empty %}
                        <a class="badge badge-danger" href="{{folder}}/Delete_Directory">Delete</a>
                        {% endif %}
                        {% else %}
                        <a class="badge badge-primary" href="\{{directory}}\{{folder}}">Open</a>
                        <a class="badge badge-success" href="/{{directory}}/{{folder}}/Share">Share Folder</a>
                        {% if empty %}
                        <a class="badge badge-danger" href="/{{directory}}/{{folder}}/Delete_Directory">Delete</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% for file, size in files %}
        <div class="row">
            <div class="w-100 mb-3 d-flex flex-row shadow align-items-center p-3 border border-secondary rounded">
                <i class="far fa-file mr-2 ml-2 text-muted"></i>
                <div class="w-100 d-flex flex-row justify-content-between align-items-center">
                    <h6 class="m-0 text-muted">
                        {{file}} ({{size}})
                    </h6>
                    <div>
                        {% if directory == '' %}
                        <a class="badge badge-primary" href="/{{file}}/Download">Download</a>
                        <a class="badge badge-primary" href="/{{file}}/Rename/">Rename</a>
                        <a class="badge badge-primary" href="/{{file}}/Move/">Move</a>
                        <a class="badge badge-primary" href="/{{file}}/Copy/">Copy</a>
                        <a class="badge badge-danger" href="/{{file}}/Send_To_Trash">Trash</a>
                        {% else %}
                        <a class="badge badge-primary" href="/{{directory}}/{{file}}/Download">Download</a>
                        <a class="badge badge-primary" href="{{directory}}/{{file}}/Rename/">Rename</a>
                        <a class="badge badge-primary" href="/{{directory}}/{{file}}/Move/">Move</a>
                        <a class="badge badge-primary" href="/{{directory}}/{{file}}/Copy/">Copy</a>
                        <a class="badge badge-danger" href="/{{directory}}/{{file}}/Send_To_Trash">Trash</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% if disk_quota != "Unlimited" %}
        <div class="row rounded bg-secondary p-1 d-flex align-content-center">
            <h6 class="text-white m-0 ml-2">
                {{total_utilization}}% of {{disk_quota}} used, {{trash_utilization}}% is in trash
            </h6>
        </div>
        {% endif %}
        {% else %}
        <div class="row">
            <div class="col">
                <h1 class="display-4 text-muted">
                    Please log in to view your files
                </h1>
                <hr>
            </div>
        </div>
        {% endif %}

    </div>


</body>

</html>