<!DOCTYPE html>
<html class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/00cfa0c2fb.js"></script>

</head>

<body class="h-100">
    <div class="d-flex align-items-center justify-content-center h-100 w-100">
        <div class="card w-50">
            <div class="card-header bg-dark text-white text-center">
                <h3>
                    Manage Sharing
                </h3>
            </div>
            <div class="card-body bg-secondary">
                {% if isAdmin == True %}
                <h4 class="text-white">
                    Shared with individuals
                </h4>
                {% endif %}
                {% for folder in sharedFoldersIndividuals %}
                <div
                    class="w-100 mb-3 d-flex flex-row shadow align-items-center p-3 border border-secondary rounded bg-white justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <i class="fas fa-folder mr-2 ml-2 text-muted"></i>                        
                        <h6 class="m-0 text-muted">
                            {{ folder.folder_name }}
                        </h6>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <div class="badge badge-success mr-2">Shared with {{folder.shared_with_user}}</div>
                        {% if folder.editable == 'True' %}
                        <div class="badge badge-primary mr-2">User can make changes</div>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            <button class="badge badge-danger" name="unshare_individual" value="{{folder.folder_path}}"
                                type="submit">Unshare</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
                {% if isAdmin == True %}
                <h4 class="text-white">
                    Shared with groups
                </h4>
                {% endif %}
                {% for folder in sharedFoldersGroups %}
                <div
                    class="w-100 mb-3 d-flex flex-row shadow align-items-center p-3 border border-secondary rounded bg-white justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <i class="fas fa-folder mr-2 ml-2 text-muted"></i>                        
                        <h6 class="m-0 text-muted">
                            {{ folder.folder_name }}
                        </h6>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <div class="badge badge-success mr-2">Shared with {{folder.shared_with_user}}</div>
                        {% if folder.editable == 'True' %}
                        <div class="badge badge-primary mr-2">Users can make changes</div>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            <button class="badge badge-danger" name="unshare_group" value="{{folder.folder_path}}"
                                type="submit">Unshare</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
                <a href="/" class="btn btn-outline-light">Back</a>
            </div>
        </div>
    </div>
</body>

</html>