<!DOCTYPE html>
<html class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body class="h-100">
    <div class="d-flex align-items-center justify-content-center h-100 w-100">
        <div class="card w-50">
            <div class="card-header bg-dark text-white text-center">
                <h3>
                    Moving File: {{fileName}}
                </h3>
            </div>
            <div class="card-body bg-secondary">
                <div class="d-flex flex-row align-items-center mb-3">
                    {% if destination != '' %}
                    {% if back != '' %}
                    <a href="/{{path_to_file}}/Move/{{back}}/" class="badge badge-primary">Back</a>
                    {% else %}
                    <a href="/{{path_to_file}}/Move/" class="badge badge-primary">Back</a>
                    {% endif %}
                    {% endif %}
                    <div class="text-light ml-1">
                        Current Directory: Home/{{destination}}
                    </div>

                </div>
                {% for folder in folders %}
                <div
                    class="w-100 mb-3 d-flex flex-row shadow align-items-center p-3 border border-secondary rounded bg-light">
                    <i class="fas fa-folder mr-2 ml-2 text-muted"></i>
                    <div class="w-100 d-flex flex-row justify-content-between align-items-center">
                        <h6 class="m-0">
                            {{ folder }}
                        </h6>
                        <div>
                            {% if destination == '' %}
                            <div class="row justify-content-between mr-2">
                                <a class="badge badge-primary" href="/{{path_to_file}}/Move/{{folder}}/">Open</a>
                            </div>
                            {% else %}
                            <div class="row justify-content-between mr-2">
                                <a class="badge badge-primary"
                                    href="/{{path_to_file}}/Move/{{destination}}/{{folder}}/">Open</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="d-flex flex-row">
                    <form method="post">
                        {% csrf_token %}
                        <button class="btn btn-outline-light mr-2" type="submit">Move Here</button>
                    </form>
                    <a href="/{{cancel}}" class="btn btn-outline-light">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>