<!DOCTYPE html>
<html class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/00cfa0c2fb.js"></script>


</head>

<body class="h-100">
    <div class="d-flex align-items-center justify-content-center h-100 w-100">
        <div class="card w-50">
            <div class="card-header bg-dark text-white text-center">
                <h3>
                    Sharing Folder: {{folder_to_share}}
                </h3>
            </div>
            <div class="card-body bg-secondary">
                <h5 class="text-white">
                    This folder contains:
                </h5>
                {% for folder in folders %}
                <div
                    class="w-100 mb-3 d-flex flex-row shadow align-items-center p-3 border border-secondary rounded bg-white">
                    <i class="fas fa-folder mr-2 ml-2 text-muted"></i>
                    {{folder}}
                </div>
                {% endfor %}
                {% for file in files %}
                <div
                    class="w-100 mb-3 d-flex flex-row shadow align-items-center p-3 border border-secondary rounded bg-white">
                    <i class="fas fa-file mr-2 ml-2 text-muted"></i>
                    {{file}}
                </div>
                {% endfor %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="d-flex flex-row align-items-center">
                        <input type="radio" name="group_individual" value="individual" checked="True">
                        <h5 class="text-white ml-2">
                            Share with Individual
                        </h5>
                    </div>
                    <select name="share_to_user" class="custom-select mb-3">
                        {% for user in users %}
                            <option value="{{user}}">{{user}}</option>
                        {% endfor %}
                    </select>
                    {% if admin %}
                    <div class="d-flex flex-row align-items-center">
                            <input type="radio" name="group_individual" value="group">
                            <h5 class="text-white ml-2">
                                Share with Group
                            </h5>
                    </div>
                    <select name="share_to_group" class="custom-select mb-3">
                            {% for group in groups %}
                                <option value="{{group}}">{{group}}</option>
                            {% endfor %}
                    </select>
                    {% endif %}
                    <div class="d-flex flex-row align-items-center mb-3">
                            <input type="checkbox" name="edit_permissions" value="True">
                            <h5 class="text-white ml-2">
                                Allow changes to be made to shared folder? 
                            </h5>
                    </div>
                    <button type="submit" class="btn btn-outline-light">Share</button>
                    <a href="{{cancel}}" class="btn btn-outline-light">Cancel</a href="cancel">
                </form>
            </div>
        </div>
    </div>
</body>

</html>