<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/00cfa0c2fb.js"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Tuks-Drive</a>
        <div class="navbar-nav">
            {% if request.user.is_authenticated %}
            <a class="btn btn-sm btn-outline-light" href="/Account/Logout/">
                Currently logged in as {{ request.user }}, log out?
            </a>
            {% else %}
            <a href="/Account/Login/" class="btn btn-sm btn-outline-light">Log In</a>
            {% endif %}
        </div>
    </nav>

    <div class="container pt-3 mb-3">
        {% if request.user.is_authenticated %}
            {% if shared_directory == '' %}
            <h5 class="display-4 text-primary">Shared with Me</h5>
            {% for folder in shared_individuals %}
            <div class="row">
                    <div class="w-100 mb-3 d-flex flex-row shadow align-items-center p-3 border border-primary rounded">
                        <i class="fas fa-folder mr-2 ml-2 text-primary"></i>
                        <div class="w-100 d-flex flex-row justify-content-between align-items-center">
                            <h6 class="m-0 text-primary">
                                {{ folder.folder_name }}
                            </h6>
                            <div>
                               <div class="badge badge-secondary">
                                   Shared by {{folder.shared_by}}
                               </div>
                                {% if folder.editable == 'True' %}
                                <div class="badge badge-success">
                                    Editable
                                </div>
                                {% endif %}
                               <a class="badge badge-primary" href="{{folder.shared_by}}/{{folder.folder_relative_path}}/">Open</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <h5 class="display-4 text-primary">Shared with my groups</h5>
            {% for shared in shared_groups %}
                <div class="row">
                    <h4 class="text-muted">
                        {{shared.group}}:
                    </h4>
                </div>
                {% for folder, name in shared.sharedFolders%}
                <div class="row">
                        <div class="w-100 mb-3 d-flex flex-row shadow align-items-center p-3 border border-primary rounded">
                            <i class="fas fa-folder mr-2 ml-2 text-primary"></i>
                            <div class="w-100 d-flex flex-row justify-content-between align-items-center">
                                <h6 class="m-0 text-primary">
                                    {{ name }}
                                </h6>
                                <div>
                                        {% if folder.editable == 'True' %}
                                        <div class="badge badge-success">
                                            Editable
                                        </div>
                                        {% endif %}
                                   <a class="badge badge-primary" href="{{folder.shared_by}}/{{name}}/">Open</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            {% else %}
            <div class="row align-items-center mb-3">
                <a class="btn btn-outline-secondary btn-sm mr-1" href="/Shared/{{back}}">Back</a>
                {% if editable == 'True' %}
                <a class="btn btn-outline-secondary btn-sm mr-1" href="Upload/">Upload File</a>
                <a class="btn btn-outline-secondary btn-sm" href="Create_Folder/">Create Folder</a>
                {% endif %}
            </div>
            {% for folder in folders %}
            <div class="row">
                    <div class="w-100 mb-3 d-flex flex-row shadow align-items-center p-3 border border-primary rounded">
                        <i class="fas fa-folder mr-2 ml-2 text-primary"></i>
                        <div class="w-100 d-flex flex-row justify-content-between align-items-center">
                            <h6 class="m-0 text-primary">
                                {{ folder }}
                            </h6>
                            <div>
                               <a class="badge badge-primary" href="{{folder}}/">Open</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for file, directory in files %}
            <div class="row">
                    <div class="w-100 mb-3 d-flex flex-row shadow align-items-center p-3 border border-primary rounded">
                        <i class="fas fa-file mr-2 ml-2 text-primary"></i>
                        <div class="w-100 d-flex flex-row justify-content-between align-items-center">
                            <h6 class="m-0 text-primary">
                                {{ file }}
                            </h6>
                            <div>
                               <a class="badge badge-primary" href="/Shared/{{directory}}/Download">Download</a>
                               {% if editable == 'True' %}
                               <a class="badge badge-primary" href="/Shared/{{directory}}/Rename">Rename</a>
                               <a class="badge badge-danger" href="/Shared/{{directory}}/Delete">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        {% else %}
        <div class="row">
            <div class="col">
                <h1 class="display-4 text-muted">
                    Please log in to view your files
                </h1>
                <hr>
            </div>
        </div>
        {% endif %}

    </div>


</body>

</html>