<!DOCTYPE html>
<html class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body class="h-100">
    <div class="d-flex align-items-center justify-content-center h-100 w-100">
        <div class="card w-25">
            <div class="card-header text-center bg-dark text-light">
                <h3>
                    Sign Up (Testing Purposes Only)
                </h3>
            </div>
            <div class="card-body bg-secondary">
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3 mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Username</span>
                        </div>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="input-group mb-3 mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Password</span>
                        </div>
                        <input type="text" class="form-control" name="password">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-outline-light mr-2" type="submit">Sign Up</button>
                        <a class="btn btn-outline-light" href="/Account/Login/" role="button">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>