<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/00cfa0c2fb.js"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Tuks-Drive</a>
        <div class="navbar-nav">
            {% if request.user.is_authenticated %}
            <a class="btn btn-sm btn-outline-light" href="/Account/Logout/">
                Currently logged in as {{ request.user }}, log out?
            </a>
            {% else %}
            <a href="/Account/Login/" class="btn btn-sm btn-outline-light">Log In</a>
            {% endif %}
        </div>
    </nav>

    <div class="container pt-3 mb-3">
        {% if request.user.is_authenticated %}
        <h5 class="display-4 text-danger">Trash</h5>
        <div class="d-flex flex-row align-items-center mb-2">
            <form class="inline-form" method="POST">
                {% csrf_token %}
                <div class="text-muted">
                    Delete after
                    <select name="days">
                        <option value="{{user_deletion_timeframe}}" selected="selected">{{user_deletion_timeframe}}
                        </option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                    </select>
                    days
                    <button class="badge" type="submit">Update</button>

                </div>
            </form>
        </div>
        {% for trashed_file, deletion_date in trashed_files %}
        <div class="row">
            <div class="w-100 mb-3 d-flex flex-row shadow align-items-center p-3 border border-secondary rounded">
                <i class="far fa-file mr-3 ml-2 text-muted"></i>
                <div class="w-100 d-flex flex-row justify-content-between align-items-center">
                    <div class="d-flex flex-row">
                        <h6 class="m-0 text-muted">
                            {{trashed_file.file_name}}
                        </h6>

                    </div>
                    <div>
                        <div class="ml-1 badge badge-secondary">
                            {{deletion_date}} till deletion
                        </div>
                        <a class="badge badge-primary"
                            href="/Trash/{{trashed_file.original_directory}}{{trashed_file.file_name}}/Restore">Restore</a>
                        <a class="badge badge-danger" href="/Trash/{{trashed_file.file_name}}/Delete">Delete</a>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}

        {% else %}
        <div class="row">
            <div class="col">
                <h1 class="display-4 text-muted">
                    Please log in to view your files
                </h1>
                <hr>
            </div>
        </div>
        {% endif %}

    </div>


</body>

</html>