<!DOCTYPE html>
<html class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body class="h-100">
    <div class="d-flex align-items-center justify-content-center h-100 w-100">
        <div class="card w-50">
            <div class="card-header bg-dark text-white text-center">
                <h3>
                    File Upload
                </h3>
            </div>
            <div class="card-body bg-secondary">
                   <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="form-group">
                            <input type="file" name="document">
                        </div>
                        <button class="btn btn-outline-light mr-2" type="submit">Accept</button>
                        <a class="btn btn-outline-light" href="/{{directory}}" role="button">Cancel</a>
                   </form>
            </div>
        </div>
    </div>
</body>

</html>