<!DOCTYPE html>
<html class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body class="h-100">
    <div class="d-flex align-items-center justify-content-center h-100 w-100">
        <div class="card w-50">
            <div class="card-header bg-dark text-white text-center">
                <h3>
                    User Configuration: {{user}}
                </h3>
            </div>
            <div class="card-body bg-secondary">
                <form method="POST">
                    {% csrf_token %}
                    <h5 class="text-white">
                        Disk Quota: {{user_quota}}
                    </h5>
                    <div class="d-flex flex-row align-items-center">
                        <input type="text" name="new_quota" class="form-control">
                        <div class="d-flex flex-row align-items-center ml-3">
                            <input type="radio" name="size_suffix" value="gb" checked="checked">
                            <div class="text-white ml-1">GB</div>
                        </div>
                        <div class="d-flex flex-row align-items-center ml-3">
                            <input type="radio" name="size_suffix" value="mb">
                            <div class="text-white ml-1">MB</div>
                        </div>
                        <button type="submit" class="btn btn-sm btn-outline-light ml-3">Update</button>
                        <button type="submit" class="btn btn-sm btn-outline-light ml-1" name="set_unlimited" value="True">Remove Limit</button>
                    </div>
                </form>
                <h5 class="text-white mt-3">
                    Belongs to Groups
                </h5>
                <div class="ml-3">
                    {% for group in user_groups %}
                    <div class="row d-flex flex-row">
                        <div class="text-white col-3">
                            {{group}}
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="col">
                                <button class="badge badge-danger" type="submit" name="group_to_remove" value="{{group}}">Remove</button>
                            </div>
                        </form>
                    </div>
                    {% endfor %}
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <h5 class="text-white mt-3">
                            Add to group
                        </h5>
                        <div class="d-flex flex-row">
                            <select name="add_to_group" class="custom-select">
                                    {% for group in all_groups %}
                                        <option value="{{group}}">{{group}}</option>
                                    {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-sm btn-outline-light ml-3">Add</button>
                        </div>
                </form>
                <a href="/Admin/" class="btn btn-outline-light mt-3">Back</a>
            </div>
        </div>
    </div>
</body>

</html>